body{
    background-color: rgba(0, 16, 236, 0.788) ; 
}

.cancel-botton{
    color: blueviolet;

 }
 .cancel-botton{
    color: blue;

 }

 .button{
     font-size: 20px;
     border: 10 px solid green;
     border-radius: 7px; 
     outline: none ;
     cursor: pointer;
     transition: 2s;
     
 }

 .button:hover{
    font-size: 20px;
    border: 10px solid blue;
    border-radius: 10px; 
    outline: none ;
    cursor: pointer;
    transition: 2s;

 }